* {
  box-sizing: border-box;
}

html, body {
  --font-size-h6: 12px;
  --font-size: 14px;
  --font-size-h4: 16px;
  --font-size-h3: 20px;
  --font-size-h2: 24px;
  --font-size-h1: 28px;
  --font-size-heading: 20px;
  --font-size-subheading: 12px;
  --font-family: 'halyard-display', sans-serif;
  --font-family-subheading: 'Work Sans', sans-serif;
  --color-bw-0: #fff;
  --color-bw-1: #F8F9FA;
  --color-bw-2: #E1E7EC;
  --color-bw-3: #D5DDE5;
  --color-bw-4: #CCD4DB;
  --color-bw-5: #AEBECD;
  --color-bw-6: #929FB1;
  --color-bw-7: #6E7A8A;
  --color-bw-8: #404B5A;
  --color-bw-9: #202833;
  --color-primary: #2186EB;
  --color-secondary: #F7C948;
  --color-text: var(--color-bw-1000);
  --border-radius: 4px;
  --letter-spacing-subheading: 1px;
  --overlay-fade: linear-gradient(transparent, rgba(0,0,0,0.9));
  --text-shadow-default: 0 1px 1px var(--color-black-1);

  color: var(--color-text);
  font-size: var(--font-size);
  font-family: var(--font-family);
  background: var(--color-black-1);
}

h1 {
  font-size: var(--font-size-h1);
}

h2 {
  font-size: var(--font-size-h2);
}

h3 {
  font-size: var(--font-size-h3);
}

h4 {
  font-size: var(--font-size-h4);
}

h5 {
  font-size: var(--font-size);
}

h6 {
  font-size: var(--font-size-h6);
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.ui-subheading {
  letter-spacing: 1px;
  font-family: var(--font-family-subheading);
  font-size: var(--font-size-subheading);
  text-transform: uppercase;
}

.u-text-center {
  text-align: center;
}

.builder-layout {
  display: flex;
  max-width: 1024px;
  padding: 48px 16px;
  margin: 0 auto;
}

.builder-content {
  width: 100%;
  margin-right: 16px;
}

.builder-row {
  position: relative;
  display: flex;
  padding: 16px 0;
  background: var(--color-bw-0);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bw-4);
  margin-bottom: 16px;
}

.builder-row-handle {
  position: absolute;
  top: -28px;
  right: 0;
  display: flex;
  padding: 4px;
  font-size: 12px;
  background: var(--color-bw-0);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bw-4);
  cursor: grab;
  opacity: 0;
  transition: 200ms ease;
}

.builder-row:hover > .builder-row-handle {
  opacity: 1;
}

.builder-row > .column {
  position: relative;
  width: 33.33%;
  padding-left: 16px;
  padding-right: 16px;
}

.builder-row-column {
  position: relative;
}

.builder-row-column > .label {
  color: var(--color-bw-8);
  margin-bottom: 8px;
}

.builder-row-column > .menu {
  position: absolute;
  top: 4px;
  right: 0;
}

.builder-row-column > .menu > .more {
  display: none;
  align-items: center;
}

.builder-row-column > .menu:hover > .more {
  display: flex;
}

.builder-row-column > .menu > .initial {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
}

.builder-row-column > .menu:hover > .initial {
  display: none;
}

.builder-row-action {
  display: block;
  padding: 0;
  color: var(--color-bw-6);
  border: 0;
  background: transparent;
  cursor: pointer;
}

.builder-row-action.is-handle {
  cursor: grab;
}

.builder-row-column > .menu > .more > .action:not(:last-child) {
  margin-right: 8px;
}

.builder-row-column > .input {
  display: block;
  padding: 0 8px;
  width: 100%;
  height: 40px;
  background: var(--color-bw-0);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bw-4);
  outline: 0;
}

.builder-row-column > .input:focus {
  border-width: 2px;
  border-color: var(--color-primary);
}

.builder-row-column-resizer {
  position: absolute;
  top: -16px;
  right: 0;
  bottom: -16px;
  width: 2px;
  opacity: 0;
  transition: 100ms opacity ease;
  cursor: ew-resize;
}

.builder-row > .column:hover > .builder-row-column-resizer {
  opacity: 1;
}

.builder-row-column-resizer > .line {
  width: 1px;
  height: 100%;
  background: var(--color-bw-4);
}

.builder-row-column-resizer > .handle {
  position: absolute;
  top: calc(50% - 10px);
  left: -10px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  font-size: 12px;
  color: var(--color-bw-7);
  background: var(--color-bw-4);
  border-radius: 50%;
}

.builder-row-column-placeholder {
  background: var(--color-bw-2);
  height: 60px;
  border-radius: var(--border-radius);
}

.builder-widget-list {
  flex-shrink: 0;
  width: 240px;
}

.builder-widget-list > .heading {
  margin-bottom: 16px;
}

.builder-widget {
  display: flex;
  align-items: center;
  padding: 16px;
  background: var(--color-bw-0);
  border-radius: var(--border-radius);
  border: 1px solid var(--color-bw-4);
  margin-bottom: 16px;
}

.builder-widget > .icon {
  font-size: 12px;
  color: var(--color-bw-7);
  margin-right: 16px;
}

.builder-widget > .text {
  color: var(--color-bw-8);
  font-weight: 500;
}

.builder-widget > .handle {
  font-size: 12px;
  color: var(--color-bw-7);
  margin-left: auto;
  cursor: grab;
}